# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
.env
.venv/

# Pytest
.cache/
.pytest_cache/

# Playwright
playwright/.local-browsers/
data/*.json
data/*/*.png

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
